body {
    background-color: 	#3C344F;
    color: #fff;
    text-align: center;
    font-family: 'Stencil Std';
}
header {
    display: block;
    background-color: #1A1A4E;
    padding: 40px 0;
}
.container {
    max-width: 960px;
    padding: 0 24px 0 24px;
    margin: auto;
    text-align: left;
}
h1 {
    font: 3em/1.2 'Stencil Std';
    color: #BADA55;
}
.card {
    background-color: white;
    border-radius: 6px;
    color: #4b4e4c;
}
.card > img {
    max-width: 100%;
}
.card-content {
    padding: 0 24px 24px;
}
.card-content h3 {
    font-size: 24px;
}

@media screen and (min-width: 480px) {
    .card-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start
    }
    .card {
        width: calc(50% - 10px); 
    }
}
@media screen and (min-width: 720px) {
    .card {
        width: calc(33.3% - 10px); 
    }
}

.description {
    max-height: 60px;
    overflow:hidden;
    transition: max-height 500ms ease;
}
.description-switch {
    display: none;
}
.description-switch:checked + .description {
    max-height: 1000px;
}















